h1 {margin-left: 45%; width: 70%;
color: aliceblue;}

h2 {margin-left: 45%; width: 70%;
color: aliceblue;}

h3 {margin-left: 45%; width: 70%;
    color: aliceblue;}

h4 {color: aliceblue;
text-align: justify;
margin-left: 10%;}

body{background-color: black;}

#ima1 {width: 70%; margin-left: 17%; border-style: hidden; background-color: aliceblue;}

#ima2 {width: 70%; margin-left: 17%; border-style: hidden; background-color: aliceblue;}

#ima3 {width: 70%; margin-left: 17%; border-style: hidden; background-color: aliceblue;}

